doctype html
html
  head
    meta(charset="utf-8" )
    title #{title}
    link(rel='stylesheet', href='./styles/multiple_choice.css')
  body
  .container  
    .content
      - if(!lists)
        .alert There's not questions designed yet!
      - else
        - each item in lists
          .part
            .data #{item}
            .num(table_id= '#{item._id}') #{item.question}
            .text 
              .plain #{item.main_sentence}
              img.horn(src="../imgs/icon_sound.png" )
              .inputTip.fadeout
                .uparrow
                .popoverContent <span>WARNING: </span>You haven't typed your answer yet !
            .scrambled
              -if(item.blank_1_h1)
                span.piece #{item.blank_1_h1}
              -if(item.blank_1_h2)
                span.piece #{item.blank_1_h2}
              -if(item.blank_1_h3)
                span.piece #{item.blank_1_h3}
              -if(item.blank_1_h4)
                span.piece #{item.blank_1_h4}
              -if(item.blank_1_h5)
                span.piece #{item.blank_1_h5}
              -if(item.blank_1_h6)
                span.piece #{item.blank_1_h6}
              -if(item.blank_1_h7)
                span.piece #{item.blank_1_h7}
              -if(item.blank_1_h8)
                span.piece #{item.blank_1_h8}
        .myprogress
          -each item in lists
            .learn0

      #next Answer

  script(type="application/javascript", src="scripts/jquery-2.1.4.min.js")
  //- script(type="application/javascript", src="scripts/plugin/soundmanager2-jsmin.js")
  script(type="application/javascript", src="scripts/multiple_choice.js")